<!--USA-->
<ion-side-menus enable-menu-with-back-views="true" title="usa" id="slide-menu21">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuLanguage"><!-- App Content apears here... --></ion-nav-view><!-- End App Content apears here... -->
    </ion-side-menu-content>
    <ion-side-menu side="right" id="menuLanguageUSA">
        <ion-header-bar class="bar-dark">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-right has-header">
            <ion-list>
                <ion-item ui-sref="menu.usa.home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.usa.wines" menu-close="">Wines</ion-item>
                <ion-item ui-sref="menu.usa.history" menu-close="">History</ion-item>
                <ion-item ui-sref="menu.usa.vineyards" menu-close="">Vineyards</ion-item>
                <ion-item ui-sref="menu.usa.regions" menu-close="">Regions</ion-item>
                <ion-item ui-sref="menu.usa.pos" menu-close="">POS</ion-item>
                <ion-item ui-sref="menu.usa.home" menu-close="">Press Kit</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
